
/**
 * Manage wireframe blocks
 * @example
 * 		<div class="wf-block wf-block--important wf-block--filled wf-block--color-red">
 **/ 
.wf-block {
	@include wf-border;
	padding: $gutter-vertical $gutter-horizontal;
	margin-bottom: $gutter-vertical;
	position: relative;
	display: flex;
	flex-direction: row wrap;
	justify-content: flex-start; // content to the top
	align-items: flex-start; // content to the left
	> * {
		flex: 0 0 auto; // do not grow or shrink content
	}
	
	/**
	 * Block label
	 */
	&__label {
		align-self: center; // centered vertically
		margin: 0 auto; // centered horizontally
		padding: $gutter-vertical/2 $gutter-horizontal/2;
		background-color: inherit;
	}
	
	/**
	 * Take all the place
	 */
	&--fluid {
		width: 100%;
		height: 100%;
	}
	
	/**
	 * Put diagonals inside the block
	 */
	&--crossed {
		@include background-crossed;
	}
	
	/**
	 * Make borders more visible
	 */
	&--important {
		
	}
	
	/**
	 * Put a red background
	 */
	&--color-red {
		background-color: $color-red;
		&.wf-block--crossed {
			@include background-crossed(darken($color-red, 30%));
		}
		.wf-block__label {
			color: darken($color-red, 50%);
		}
	}
	/**
	 * Put a green background
	 */
	&--color-green {
		background-color: $color-green;
		&.wf-block--crossed {
			@include background-crossed(darken($color-green, 30%));
		}
		.wf-block__label {
			color: darken($color-green, 50%);
		}
	}
	/**
	 * Put a yellow background
	 */
	&--color-yellow {
		background-color: $color-yellow;
		&.wf-block--crossed {
			@include background-crossed(darken($color-yellow, 30%));
		}
		.wf-block__label {
			color: darken($color-yellow, 50%);
		}
	}
	/**
	 * Put a pink background
	 */
	&--color-pink {
		background-color: $color-pink;
		&.wf-block--crossed {
			@include background-crossed(darken($color-pink, 30%));
		}
		.wf-block__label {
			color: darken($color-pink, 50%);
		}
	}
}
