
/**
 * Manage wireframe blocks
 * @example
 * 		<div class="wf-block wf-block--important wf-block--filled wf-block--color-red">
 **/ 
.wf-block {
	@include wf-border;
	padding: $gutter-vertical $gutter-horizontal;
	margin-bottom: $gutter-vertical;
	position: relative;
	
	/**
	 * Take all the place
	 */
	&--fluid {
		width: 100%;
		height: 100%;
	}
	
	/**
	 * Put diagonals inside the block
	 */
	&--crossed {
		background: 
			linear-gradient(to top left,
				rgba($color-default, 0) 0%,
				rgba($color-default, 0) calc(50% - 0.8px),
				rgba($color-default, 1) 50%,
				rgba($color-default, 0) calc(50% + 0.8px),
				rgba($color-default, 0) 100%),
			linear-gradient(to top right,
				rgba($color-default, 0) 0%,
				rgba($color-default, 0) calc(50% - 0.8px),
				rgba($color-default, 1) 50%,
				rgba($color-default, 0) calc(50% + 0.8px),
				rgba($color-default, 0) 100%);
	}
	
	/**
	 * Make borders more visible
	 */
	&--important {
		
	}
	
	/**
	 * Put a red background
	 */
	&--color-red {
		background-color: $color-red;
	}
	/**
	 * Put a red background
	 */
	&--color-green {
		background-color: $color-green;
	}
	/**
	 * Put a red background
	 */
	&--color-yellow {
		background-color: $color-yellow;
	}
	/**
	 * Put a red background
	 */
	&--color-pink {
		background-color: $color-pink;
	}
}
