/**
 * Media
 *
 * Module used to display different types of medias : images, videos, and such.
 *
 * It must be applied on an <img> tag with the ones provided in the images/ folder.
 * They are tiny transparent images with different ratios, the naming convention is ratio-[ratio].png.
 * Ratios are : 1-1, 4-3, 16-9, etc. (plus their counterpart : 3-4, 9-16, etc.).
 *
 * So to recap : choose an image according to its ratio, put a width, and its height will be deducted.
 *
 * @example
 *		<img src="images/ratio-16-9.png" width=100 class="wf-media wf-media--video wf-media--dark">
 */
.wf-media {

	@include wf-border; // common border
	background-image: url('../src/images/media-image-dark.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;

	/**
	 * Video media variant
	 */
	&--video {
		background-image: url('../src/images/media-video-dark.svg');
	}

	/**
	 * Audio media variant
	 */
	&--audio {
		background-image: url('../src/images/media-audio-dark.svg');
	}

	/**
	 * Dark media variant
	 */
	&--dark {
		background-color: $color-default;
		background-image: url('../src/images/media-image-light.svg');
		&.wf-media--video {
			background-image: url('../src/images/media-video-light.svg');
		}
		&.wf-media--audio {
			background-image: url('../src/images/media-audio-light.svg');
		}
	}

}