/**
 * Media
 *
 * Module used to display different types of medias : images, videos, and such.
 *
 * By default, it is square and 100px wide
 * You can choose its width and aspect ratio with .wf-ratio--X and .wf-width--X
 *
 * @example
 *		<img src="images/ratio-16-9.png" width=100 class="wf-media wf-media--video wf-media--dark">
 */
.wf-media {

	// By default, it is square and 100px wide
	@include aspect-ratio-common;
	@include aspect-ratio-variant(1, 1);
	width: 10rem; // 158px
	display: inline-block;
	&[class*=ratio] {
		display: inline-block; // force display type
	}
	vertical-align: baseline;
	border: 1px solid $color-default;
	background-image: url('../../src/images/media-image-dark.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;

	/**
	 * Video media variant
	 */
	&--video {
		background-image: url('../../src/images/media-video-dark.svg');
	}

	/**
	 * Audio media variant
	 */
	&--audio {
		background-image: url('../../src/images/media-audio-dark.svg');
	}

	/**
	 * Dark media variant
	 */
	&--dark {
		background-color: $color-default;
		background-image: url('../../src/images/media-image-light.svg');
		&.wf-media--video {
			background-image: url('../../src/images/media-video-light.svg');
		}
		&.wf-media--audio {
			background-image: url('../../src/images/media-audio-light.svg');
		}
	}

	/**
	 * Crossed media variant
	 */
	&--crossed {
		@include background-crossed;
		&.wf-media--dark {
			@include background-crossed(white);
		}
	}

	/**
	 * Round media variant
	 */
	&--rounded {
		border-radius: 9999em;
	}

	/**
	 * Inside a figure
	 */
	figure & {
		margin-bottom: $gutter-vertical/2;
	}
}