/**
 * Note
 *
 * Use notes to add remarks about the wireframe elements.
 *
 * They are positionned relatively to the element you are commenting (.wf-block for instance),
 * and can be placed at various positions (on the corners, on the sides, etc.).
 * By default, a note is positionned top right,
 *
 * @example
 *		<div class="wf-block">
 *			<span class="wf-note wf-note--top-right">Something worth mentioning about this block</span>
 *		</div>
 */
.wf-note {
	border: 1px solid $color-external;
	border-radius: 2px;
	color: $color-external;
	background-color: white;
	box-shadow: -2px 2px 0 rgba($color-external, 0.1);
	display: inline-block;
	padding: 1em;
	font-size: 0.85em;
	position: absolute;
	.wf-optional &,
	&.wf-optional {
		position: absolute; // counter the wf-optional position:relative
	}
	top: -0.5em;
	right: -1em;
	transform: rotate(4deg);
	z-index: 100;
	//font-family: $font-family-external;

	// Decoration
	&:before {
		content: '';
		position: absolute;
		background-color: white;
		top: -2px;
		right: -2px;
		width: 1em;
		height: 1em;
	}
	&:after {
		content: '';
		position: absolute;
		top: -1px;
		right: -1px;
		border-top: 1em solid white;
		border-left: 1em solid $color-external;
		width: 0;
	}

	&--top-left {
		right: auto;
		left: -1em;
		transform: rotate(-5deg);
	}
	// Already default
	&--top-right {

	}
	&--bottom-left {
		top: auto;
		right: auto;
		left: -1em;
		bottom: -1em;
		transform: rotate(-5deg);
	}
	&--bottom-right {
		top: auto;
		bottom: -1em;
	}
	// Mof
	&--left {

	}
	&--top {

	}
	&--right {

	}
	&--bottom {

	}
}
