/**
 * Optional element
 */
.wf-optional {
	position: relative;
	transition: all 1s; // for nice transitions when hidden

	&:hover > .wf-optional__close {
		opacity: 1;
		color: white;
	}

	/**
	 * Close button
	 *
	 * @note
	 * By default, it is positioned according to the Bootstrap grid
	 */
	&__close {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		opacity: 0;
		width: 15px;
		height: 15px;
		background-color: $color-external;
		color: white;
		text-align: center;
		font-family: sans-serif;
		text-decoration: none;
		line-height: 15px;
		font-size: 0.8rem;
		font-weight: bold;
		transition: opacity 0.25s;
		&:hover, &:focus {
			background-color: $color-important;
		}
		// details for some wf-stuff
		.wf-block > &,
		.wf-note > & {
			top: -1px;
			left: -1px;
			border-radius: 0 2px 2px 0;
		}
	}
}
