
/* Not readable texts, just for the grey */
.wf-text {
	/**
	 * Generate text lines
	 *
	 * @example
	 * 		<p class="wf-text-lines">Some text</p>
	 **/
	&-lines {
		font-family: 'redacted';
	}

	/**
	 * Generate block words
	 *
	 * Load a font to transform all characters in a filled block
	 * @example
	 * 		<div class="wf-text-words"><p>Some text</p><p>Other thing</p></div>
	 **/
	&-words {
		font-family: 'redacted';
		word-spacing: 0.75em;

		a {
			text-decoration: none;
			&:focus {
				background-color: transparent !important; // grrrr tinytypo !
				color: $color-important !important; // grrrr tinytypo !
			}
		}

		&.wf-text--important {
			color: $color-important;
		}
	}
}
