
/* Not readable texts, just for the grey */
.wf-text {
	/**
	 * Generate block lines
	 *
	 * Must be apply only on inline elements
	 * @example
	 * 		<p><span class="wf-text-lines">Some text</span></p>
	 **/
	&-lines {
		background-color: $color-text;
		color: transparent;
		font-size: 0.5em; // Adjusted to match the main font
		line-height: 2.5; // Adjusted to match the main font
		letter-spacing: 0.55em; // compensate the font-size to keep the text length

		a {
			color: inherit;
			background-color: saturate(darken($color-link, 5%), 20%);
			&:hover {
				background-color: $color-link-hover;
			}
			&:focus {
				background-color: $color-important !important; // grrrr tinytypo !
				color: $color-important !important; // grrrr tinytypo !
			}
		}

		&.wf-text--important {
			background-color: $color-important;
		}
	}

	/**
	 * Generate block words
	 *
	 * Load a font to transform all characters in a filled block
	 * @example
	 * 		<div class="wf-text-words"><p>Some text</p><p>Other thing</p></div>
	 **/
	&-words {
		font-family: 'blokkneue', cursive;
		line-height: 0.95; // Adjusted to match the main font

		a {
			text-decoration: none;
			&:focus {
				background-color: transparent !important; // grrrr tinytypo !
				color: $color-important !important; // grrrr tinytypo !
			}
		}

		&.wf-text--important {
			color: $color-important;
		}
	}
}
