
body,
[class^=wf-] {
	color: $color-text;
	font-family: $font-family-base;
	font-size: $font-size-base;
}

a, a:visited {
	color: $color-link;
	text-decoration: underline;
	&:hover {
		color: $color-link-hover;
	}
}
