@font-face {
  font-family: 'blokkneue';
  src: url('../../fonts/blokkneue-regular.woff2') format('woff2'),
       url('../../fonts/blokkneue-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}