/**
 * Line text
 */
@font-face {
  font-family: 'redacted';
  src: url('../../src/fonts/redacted-regular.woff2') format('woff2'),
       url('../../src/fonts/redacted-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**
 * Blocky font
 */
/*
@font-face {
  font-family: 'blokkneue';
  src: url('../../src/fonts/blokkneue-regular.woff2') format('woff2'),
       url('../../src/fonts/blokkneue-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/

/**
 * Cursive font
 */
@font-face {
  font-family: 'kalam';
  src: url('../../src/fonts/kalam-regular.woff2') format('woff2'),
       url('../../src/fonts/kalam-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
