/**
 * Mixins
 */

/**
 * Add a border
 *
 **/ 
@mixin wf-border($width: 1px) {
	border: #{$width} dotted $color-default;
}

/**
 * Add a diagonal background image
 */
@mixin background-crossed($color: $color-default) {
	background-image: 
		linear-gradient(to top left,
			rgba($color, 0) 0%,
			rgba($color, 0) calc(50% - 0.8px),
			rgba($color, 1) 50%,
			rgba($color, 0) calc(50% + 0.8px),
			rgba($color, 0) 100%),
		linear-gradient(to top right,
			rgba($color, 0) 0%,
			rgba($color, 0) calc(50% - 0.8px),
			rgba($color, 1) 50%,
			rgba($color, 0) calc(50% + 0.8px),
			rgba($color, 0) 100%);
}