
/* Color palette */
$color-default:  hsl(220, 10%, 45%);
$color-text: $color-default;
$color-link: $color-text;
$color-important: black;

/* Gutters */
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;