/* Functional palette */
$color-default:  hsl(220, 10%, 45%);
$color-external:  saturate($color-default, 50%);
$color-text: $color-default;
$color-link: saturate($color-text, 25%);
$color-link-hover: saturate($color-link, 50%);
$color-important: darken($color-default, 33%);

/* Color palette */
$color-dark: $color-default;
$color-light: lighten($color-default, 50%);
$color-gray: hsl(0, 0%, 60%);
$color-gray-light: hsl(0, 0%, 90%);
$color-red: hsl(6, 100%, 71%);
$color-yellow: hsl(27, 100%, 71%);
$color-green: hsl(120, 65%, 61%);
$color-pink: hsl(326, 65%, 61%);

/* Gutters */
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;

/* Fonts */
$font-size-base: 16px;
$font-family-base: 'kalam', cursive; // stuff in the wireframe
$font-family-external: sans-serif; // stuff not belonging to the wireframe
$font-family-code: monospace; // technical stuff
