
/* Color palette */
$color-red: #FF796B;
$color-yellow: #FFAE6B;
$color-green: #5CDD5C;
$color-pink: #DD5CA5;

/* Functional palette */
$color-default:  hsl(220, 10%, 45%);
$color-text: $color-default;
$color-link: $color-text;
$color-important: black;

/* Gutters */
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;
